.table-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1200px;
}

table {
  border-spacing: 0;
  
}

th {
/* border-bottom: 2px solid gray;
border-top: none; */
color: white;
font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 18px;

}

td {
font-family: 'Epilogue';
font-style: normal;
font-weight: 500;
color:  #2FC18C;
font-size: 16px;
text-align: center;
border-bottom: 2px solid #2FC18C;
padding: 10px;
padding-top: 20px;
padding-bottom: 5px;
/* line-height: 45px; */
/* border-right: 1.5px solid rgb(162, 158, 158); */
}

th {
  
    padding: 5px;
    border-spacing: 0;
    border:  1.5px solid rgb(162, 158, 158);
    border-top: none;
  
}

.table-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.edit-btn {
  height: 25px;
  width: 25px;
}

.delete-btn {
  height: 24px;
  width: 24px;
}
